## DATA 620 - Project 1

---

### Mael Illien, Jeremy OBrien & Vanita Thompson

* Identify a large 2-node network datasetâ€”you can start with a dataset in a repository. Your data should meet the criteria that it consists of ties between and not within two (or more) distinct groups.
* Reduce the size of the network using a method such as the island method described in chapter 4 of social network analysis.
* What can you infer about each of the distinct groups?

You may work in a small group on the project.

Your code and analysis should be delivered in an IPython Notebook by end of day Sunday.

## Introduction

## Setup

In [1]:
import csv
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import ols
from IPython.display import display, HTML
%matplotlib inline

## Data Import

In [3]:
iss_data = pd.read_csv('IS_ALLEGIANCES_2M.csv')
iss_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            47 non-null     object
 1   Nigeria               47 non-null     int64
 2   Northern Mali         47 non-null     int64
 3   Sahara                47 non-null     int64
 4   Algeria               47 non-null     int64
 5   Somalia               47 non-null     int64
 6   Sudan                 47 non-null     int64
 7   Egypt                 47 non-null     int64
 8   Libya                 47 non-null     int64
 9   Tunisia               47 non-null     int64
 10  Palestine             47 non-null     int64
 11  Yemen                 47 non-null     int64
 12  Saudi Arabia          47 non-null     int64
 13  Syria                 47 non-null     int64
 14  Iraq                  47 non-null     int64
 15  Chechnya              47 non-null     int64
 16  Pakistan              47 non-null     int64
 17  Afghanistan Pakistan  47 non-null     int64
 18  Afghanistan           47 non-null     int64
 19  Indonesia             47 non-null     int64
 20  Philippines           47 non-null     int64
dtypes: int64(20), object(1)
memory usage: 7.8+ KB

## Data Processing